<h1>このサイトを作った理由</h1>
<p>
みなさんは高難易度の数独を解いたことはあるでしょうか？

私は小学生の頃から多くのパズルゲームをやってきました。
私の原点は毎週日曜日に読売新聞で掲載されていた数独とクロスワードでした。

そんな私は10年以上数多くの数独を解いてきたのですが、その中で嫌な問題がいくつもありました

それが仮定法を使わなければ解けない問題です。

仮定法(背理法)をご存知ではない方に向けて少し解説をすると
とあるマスに入る数字の候補が[2,5]の２つの時、どちらが正解なのかわかりません。<br>
そんな時、仮にここへ2を入れたら正解に辿り着けるのか否かを考えていく手法です。
最終的にそれで矛盾が生じなかった場合は、そのマスに入る数字は2であることが確定し、正解は既に手中にあるはずです。

逆に2を入れた結果矛盾した場合、そのマスには2が入らないことが分かり、マスの答えは5であると分かります。


このような解答方法のことを「仮定法(背理法)」と呼びます。

この仮定法や背理法がダメだとか、論理的じゃないと多くの人が口にしています。
<br>
<br>
世の中ではその主張が結構大きいですが、私は仮定法が論理的じゃないとは思っていません。
<br>
ただ、<div style="font-size:150%; color:red;">スマートな解き方じゃないよな</div>と思っているだけです。
<br>
<br>
私にとって仮定法というのは<p style="font-size:120%;">「力技」</p>という認識なんです。
<br>
<br>
それをやればそりゃ解けるけど、スマートじゃないよな、と。
<br>
迷路なら片方の壁に沿って進めていけば必ず出口に到達できる、というのが知られています。
でも、そのやり方で迷路を攻略しても面白くないし、楽しくないし、スマートじゃないですよね？

私の中で仮定法はそんな位置付けになっています。
解けることは知っているし、メモしまくれば仮定法でも答えを作ることは可能です。
<br>
<br>
でもやっぱりそんなゴリゴリやっていくことがスマートなのか？と考えれば違いますよね？
<br>
<br>
私は、数独というパズルにそういう”力技以外無理です”という問題を持ってこられると冷めるんです。
楽しくない！
<br>
だから、私は仮定法否定派なんです。
仮定法が論理的じゃないとは言わないけど、スマートじゃないし、それ以外に突破口がない問題って面白くない。

<br>
ということで、そんな仮定法を使用しなければならない問題を排除した問題集を作りたい、サイトを作りたいと思ってこのサイトを作りました。
<br>
<br>
<br>
<br>
</p>
