#作ったCSSを読み込む
<html>
    <head>
        <%= stylesheet_link_tag 'create' %>
    </head>


    <h1>ナンプレ投稿フォーム</h1>
    <p>Find me in app/views/numpre/create.html.erb</p>
    

    <%= link_to '投稿一覧へ戻る',numpre_index_path %>



</html>

