
<%= stylesheet_link_tag 'numpre' %>

<%= form_with url:numpre_test_create_path do %>
    <p>Title</p>
    <input name="title" class="title-form">
    <table >
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_1">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_a" style="margin:0px; height:90%; width:20px; font-size:100%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_2">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_3">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="a_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="b_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="c_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_4">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_5">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_6">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="d_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="e_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="f_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_7">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_a" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_b" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_c" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_8">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_d" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_e" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_f" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_9">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="g_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="h_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_g" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_h" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="i_i" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>         
    </table>

    <input type="submit" value="実験">
<% end %>