<%= stylesheet_link_tag 'numpre' %>

<%= form_with url:numpre_create_path do %>
    <p>Title</p>
    <div><input name="title" class="title-form"></div>
    <br>
    <div class="game_panel">
        <table  class="numpre_panel"> 
            <tbody>
                <tr class="game_line">
                    <td class="number_cell"><input name="a_a" class="inp"></td>
                    <td class="number_cell"><input name="a_b" class="inp"></td>
                    <td class="number_cell"><input name="a_c" class="inp"></td>
                    <td class="number_cell"><input name="a_d" class="inp"></td>
                    <td class="number_cell"><input name="a_e" class="inp"></td>
                    <td class="number_cell"><input name="a_f" class="inp"></td>
                    <td class="number_cell"><input name="a_g" class="inp"></td>
                    <td class="number_cell"><input name="a_h" class="inp"></td>
                    <td class="number_cell"><input name="a_i" class="inp"></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="b_a"  class="inp"></td>
                    <td class="number_cell"><input name="b_b"  class="inp"></td>
                    <td class="number_cell"><input name="b_c"  class="inp"></td>
                    <td class="number_cell"><input name="b_d"  class="inp"></td>
                    <td class="number_cell"><input name="b_e"  class="inp"></td>
                    <td class="number_cell"><input name="b_f"  class="inp"></td>
                    <td class="number_cell"><input name="b_g"  class="inp"></td>
                    <td class="number_cell"><input name="b_h"  class="inp"></td>
                    <td class="number_cell"><input name="b_i"  class="inp"></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell" ><input name="c_a" class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_b" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_c" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_d" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_e" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_f"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_g" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_h" class="inp" ></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="c_i" class="inp" ></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="d_a" class="inp" ></td>
                    <td class="number_cell"><input name="d_b" class="inp" ></td>
                    <td class="number_cell"><input name="d_c" class="inp" ></td>
                    <td class="number_cell"><input name="d_d" class="inp" ></td>
                    <td class="number_cell"><input name="d_e" class="inp" ></td>
                    <td class="number_cell"><input name="d_f" class="inp" ></td>
                    <td class="number_cell"><input name="d_g" class="inp" ></td>
                    <td class="number_cell"><input name="d_h" class="inp" ></td>
                    <td class="number_cell"><input name="d_i" class="inp" ></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="e_a" class="inp" ></td>
                    <td class="number_cell"><input name="e_b" class="inp" ></td>
                    <td class="number_cell"><input name="e_c" class="inp" ></td>
                    <td class="number_cell"><input name="e_d" class="inp" ></td>
                    <td class="number_cell"><input name="e_e" class="inp" ></td>
                    <td class="number_cell"><input name="e_f" class="inp" ></td>
                    <td class="number_cell"><input name="e_g"  class="inp"></td>
                    <td class="number_cell"><input name="e_h" class="inp" ></td>
                    <td class="number_cell"><input name="e_i" class="inp" ></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="f_a" class="inp" ></td>
                    <td class="number_cell"><input name="f_b" class="inp" ></td>
                    <td class="number_cell"><input name="f_c" class="inp" ></td>
                    <td class="number_cell"><input name="f_d" class="inp" ></td>
                    <td class="number_cell"><input name="f_e" class="inp" ></td>
                    <td class="number_cell"><input name="f_f" class="inp" ></td>
                    <td class="number_cell"><input name="f_g" class="inp" ></td>
                    <td class="number_cell"><input name="f_h" class="inp" ></td>
                    <td class="number_cell"><input name="f_i"  class="inp"></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_a"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_b"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_c"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_d"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_e"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_f"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_g"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_h"  class="inp"></td>
                    <td class="number_cell" style="border-bottom:2px solid black;"><input name="g_i"  class="inp"></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="h_a" class="inp"></td>
                    <td class="number_cell"><input name="h_b" class="inp"></td>
                    <td class="number_cell"><input name="h_c" class="inp"></td>
                    <td class="number_cell"><input name="h_d" class="inp"></td>
                    <td class="number_cell"><input name="h_e" class="inp"></td>
                    <td class="number_cell"><input name="h_f" class="inp"></td>
                    <td class="number_cell"><input name="h_g" class="inp"></td>
                    <td class="number_cell"><input name="h_h" class="inp"></td>
                    <td class="number_cell"><input name="h_i" class="inp"></td>
                </tr>
                <tr class="game_line">
                    <td class="number_cell"><input name="i_a" class="inp"></td>
                    <td class="number_cell"><input name="i_b" class="inp"></td>
                    <td class="number_cell"><input name="i_c" class="inp"></td>
                    <td class="number_cell"><input name="i_d" class="inp"></td>
                    <td class="number_cell"><input name="i_e" class="inp"></td>
                    <td class="number_cell"><input name="i_f" class="inp"></td>
                    <td class="number_cell"><input name="i_g" class="inp"></td>
                    <td class="number_cell"><input name="i_h" class="inp"></td>
                    <td class="number_cell"><input name="i_i" class="inp"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="submit" value="実験">
<% end %>

