<p>Title</p>
    <input name="title" class="title-form">
    <table align="center">
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_1">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:100%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_2">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_3">
                                        <tr name="line_1">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line1[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_2">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line2[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_3" border="1" style="border-collapse:collapse; border:1;">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line3[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_4">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_5">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_6">
                                        <tr name="line_4">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line4[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_5">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line5[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_6">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line6[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_7">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_8">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table bgcolor="#cceeee" border="1" cellspacing="0" id="Main_panel" style="cursor: pointer; margin:0 auto;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100" bgcolor="#cceeee" cellspacing="1" style="font-size:20pt; font-weight:700;">
                                    <tbody name="box_9">
                                        <tr name="line_7">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line7[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_8">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line8[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                        <tr name="line_9">
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                            <td bgcolor="#ffffff" width="33" height="33" align="center" valign="bottom" id="box1-1" onclick="cellClick(0)"><input name="line9[]" style="margin:0px; height:90%; width:20px; font-size:99%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>         
    </table>

    <input type="submit" value="実験">