<h1>ユーザーさんのページ（工事中）</h1>

<% current_user=User.find_by(id: session[:user_id]) %>

<br><br>

<h2><%= @user.name %> さんが作成した問題の一覧</h2>
<% @numpre = Numpre.find_by(user_id: params[:id]) %>

<% if @numpre == nil %>
    <h2 style="color:red;">作成した問題はありません!</h2>
<% else %>
    <li>
        <%= link_to "#{@numpre.title}","/numpre/show/#{@numpre.id}" %>
    </li>
<% end %>


