// Place all the styles related to the numpre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title-form{
    font-size:15px;
    height:5%;
    width:5%;
}

.form{
    font-size:30px;
    width:270px;
    height:350px;
}